body {

    background: #543817;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;

  }

  

  .Calculator {

    width: 400px;

    height: 300px;

    position: relative;

    margin: 25px;

  }

  .ButtonStyle {

    background-color: rgb(101, 83, 155);

    border: 4;

    color: rgb(162, 19, 19);

    

    height:60px;

    width:60px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 24px;

    cursor: pointer;

  

  

  }

  .Keypad {

    display: flex;

    flex-wrap: wrap;

    flex-direction: column;

    height: 80%;

  }

  .screen-row input{

    width: 220px;

    height:30px;

    background:rgb(91, 28, 74);

    border: 55px;

    color: black;

    padding: 10px;

    text-align: left;

    font-size: 20px;

    }

  